S3method(ggpop,ggpop_admix)
S3method(ggpop,ggpop_gwas)
S3method(ggpop,ggpop_pca)
S3method(ggpop,ggpop_stats)
S3method(print,ggpop_palette_scheme)
export(compute_pca)
export(adjust_font)
export(geom_admix)
export(geom_manha)
export(geom_pca)
export(geom_qq)
export(geom_stats)
export(ggpop)
export(ggpop_palette)
export(colors_pop_distinct)
export(colors_pop_manhattan)
export(colors_pop_okabeito)
export(colors_pop_paper)
export(improt_gwas)
export(import_admixture)
export(import_admix)
export(import_gwas)
export(import_pca)
export(import_pop_group)
export(import_stats)
export(new_pop_palette)
export(plot_admix)
export(plot_admixture_pophelper)
export(plot_manha)
export(plot_pca)
export(plot_qq)
export(plot_stats)
export(prot_gwas)
export(as_pophelper_qlist)
export(align_pophelper_k)
export(analyse_pophelper_q)
export(evanno_pophelper_structure)
export(import_pophelper_qlist)
export(scale_colour_ggpop)
export(scale_color_ggpop)
export(scale_fill_ggpop)
export(join_pophelper_q)
export(merge_pophelper_q)
export(plot_pophelper_q)
export(plot_pophelper_q_multiline)
export(pophelper_as_qlist)
export(pophelper_call)
export(pophelper_distruct_colours)
export(pophelper_functions)
export(pophelper_is_qlist)
export(pophelper_verify_grplab)
export(read_pophelper_q)
export(sort_pophelper_q)
export(split_pophelper_q)
export(summarise_pophelper_q)
export(tabulate_pophelper_q)
export(theme_ggpop_publication)
export(theme_ggplot2)
export(theme_minimal_x)
export(theme_minimal_xy)
export(theme_minimal_y)
export(theme_tidyplot)
importFrom(rlang,.data)
